### macOS ###

.DS_Store

### Xcode ###

xcuserdata/

### SwiftPM ###

/.build/

### Other ###

# Preview artifacts
*Preview.swift.plist

# Swift Logger
confidential.yml
SwiftLoggerDependencies

# Generated
FingerprintProDemo/Generated/*

